
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Django Example</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mb-4">Career at NyKinSky</h1>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 mb-3">
              <h4>NyKinSky Privacy Policy</h4>
                <p>
                    Last Revised: November 15th, 2023

                    Global Candidate Privacy Notice

                    This page provides additional details on UST’s privacy practices associated with the submission and processing of personal information related to job applicants ("candidates") including through the “Careers” section of UST's corporate website(“ust.com”) and other recruitment channels. This Global Candidate Privacy Notice (this "Notice") is a supplement to the UST’s Privacy Notice.

                    Resumes submitted to UST for review shall only include information relevant to job qualifications and employment history including prior employment, relevant positions and dates, significant accomplishments, education, degrees, or certifications obtained, dates and issuing institutions and other relevant awards or achievements or any other information which intentionally shared with, or which is part of your resume.
                </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <a class="btn btn-success" href="/form" role="button">I Agree</a>
              <button type="button" class="btn btn-outline-secondary">I don't Agree</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
