<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabular Data</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1>HR DataSet</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>role</th>
                    <th>PDF</th>
                </tr>
            </thead>
            <tbody>
                {% for emps in emps %}
                <tr>
                    <td><b>{{ emps.full_name }}</b></td>
                    <td>{{ emps.email }}</td>
                    <td>{{ emps.phone }}</td>
                    <td>{{ emps.role }}</td>
                    <td><a href="{{ emps.resume_file.pdf }}" target="_blank">View PDF</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
